<a href="https://colab.research.google.com/github/abel-keya/machine_learning-_supervised_learning_with_python/blob/master/Grid_Search_HyperParameterTuningDataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Programming: Grid Search

## Example

In [0]:
## Example 1
# ---
# Perform hyperparameter tuning then predict the quality of wine using Grid Search. 
# ---
# Dataset url = http://bit.ly/TuningDataset
# ---
# OUR CODE GOES BELOW

In [0]:
# Importing the required libraries
# ---
#
import pandas as pd
import numpy as np

In [0]:
# Importing our Dataset
# ---
#
dataset = pd.read_csv("http://bit.ly/TuningDataset", sep=';')

In [73]:
# Previewing our Dataset
# ---
#
dataset.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [0]:
# Performing Data Preprocessing
# ---
# 
X = dataset.iloc[:, 0:11].values
y = dataset.iloc[:, 11].values

In [0]:
# Performing Data Preprocessing
# ---
# 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [0]:
# Scaling our Data
# 
from sklearn.preprocessing import StandardScaler
feature_scaler = StandardScaler()
X_train = feature_scaler.fit_transform(X_train)
X_test = feature_scaler.transform(X_test)

In [0]:
# Training and Cross Validation
# ---
# 
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=300, random_state=0)

In [0]:
# Training and Cross Validation
# ---
# Next, to implement cross validation, the cross_val_score method 
# of the sklearn.model_selection library can be used. 
# The cross_val_score returns the accuracy for all the folds. 
# Values for 4 parameters are required to be passed to the cross_val_score class. 
# The first parameter is estimator which basically specifies 
# the algorithm that you want to use for cross validation. 
# The second and third parameters, X and y, contain the X_train and y_train data i.e. features and labels. 
# Finally the number of folds is passed to the cv parameter as shown in the following code
# ---
# 
from sklearn.model_selection import cross_val_score
all_accuracies = cross_val_score(estimator=classifier, X=X_train, y=y_train, cv=5)

In [79]:
# Printing the accuracies returned for five folds 
# by the cross_val_score method by calling print on all_accuracies
# ---
#
print(all_accuracies.mean())

0.6847629009762901

In [0]:
# Step 1: Hyperparameters: Getting Started with Grid Search
# ---
# We create a dictionary of all the parameters and their corresponding 
# set of values that you want to test for best performance. 
# The name of the dictionary items corresponds to the parameter name 
# and the value corresponds to the list of values for the parameter.
# As shown grid_param dictionary with three parameters n_estimators, criterion, and bootstrap. 
# The parameter values that we want to try out are passed in the list. 
# For instance, in the above script we want to find which value 
# (out of 100, 300, 500, 800, and 1000) provides the highest accuracy. 
# Similarly, we want to find which value results in the 
# highest performance for the criterion parameter: "gini" or "entropy"? 
# The Grid Search algorithm basically tries all possible combinations 
# of parameter values and returns the combination with the highest accuracy. 
# For instance, in the above case the algorithm will check 20 combinations (5 x 2 x 2 = 20).
# ---
# 
grid_param = {
    'n_estimators': [100, 300, 500, 800, 1000],
    'criterion': ['gini', 'entropy'],
    'bootstrap': [True, False]
}

In [0]:
# Step 2: Instantiating GridSearchCV object
# ---
# Once the parameter dictionary is created, the next step 
# is to create an instance of the GridSearchCV class. 
# We need to pass values for the estimator parameter, 
# which basically is the algorithm that you want to execute. 
# The param_grid parameter takes the parameter dictionary 
# that we just created as parameter, the scoring parameter 
# takes the performance metrics, the cv parameter corresponds 
# to number of folds, which is 5 in our case, and finally 
# the n_jobs parameter refers to the number of CPU's that we want to use for execution. 
# A value of -1 for n_jobs parameter means that use all available computing power.
# ---
# 
from sklearn.model_selection import GridSearchCV
gd_sr = GridSearchCV(estimator=classifier,
                     param_grid=grid_param,
                     scoring='accuracy',
                     cv=5,
                     n_jobs=-1)

In [82]:
# Step 3: Calling the fit method
# ---
# Once the GridSearchCV class is initialized, we call the fit method of the class 
# and pass it the training and test set, as shown in the following code.
# The method might take abit of some time to execute. 
# This is the drawback - GridSearchCV will go through all the intermediate 
# combinations of hyperparameters which makes grid search computationally very expensive.
# ---
# 
gd_sr.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=300, n_jobs=None,
                                              oob_score=False, random_state=0,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['gini', 'entropy'],
                         'n_estimators': [100, 300, 500, 800, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [83]:
# Step 4: Checking the parameters that return the highest accuracy
# --- 
# To do so, we print the sr.best_params_ attribute of the GridSearchCV object, as shown below:
# ---
# 
best_parameters = gd_sr.best_params_
print(best_parameters)

# The result shows that the highest accuracy is achieved 
# when the n_estimators are 300, bootstrap is True and criterion is "gini". 
# It would be a good idea to add more number of estimators 
# and see if performance further increases since the highest 
# allowed value of n_estimators was chosen.

{'bootstrap': True, 'criterion': 'gini', 'n_estimators': 800}

In [84]:
# Step 5: Finding the obtained accuracy
# ---
# The last and final step of Grid Search algorithm is 
# to find the accuracy obtained using the best parameters. 
# Previously we had a mean accuracy of 64.22%.
# To find the best accuracy achieved, we execute the following code:
# ---
# 
best_result = gd_sr.best_score_
print(best_result)

# The accuracy achieved is: 0.6505 of 65.05% which is only slightly better than 64.22%. 
# To improve this further, it would be good to test values for other parameters 
# of Random Forest algorithm, such as max_features, max_depth, max_leaf_nodes, etc. 
# to see if the accuracy further improves or not.

0.6931066945606694

## <font color="green">Challenges</font>

In [85]:
## Challenge 1
# ---
# Question: Implement hyperparameter tuning upon creating a model to classify 
# incomes of persons given the following dataset.
# ---
# Dataset url = http://bit.ly/HyperParameterTuningDataset
# ---
income=pd.read_csv('http://bit.ly/HyperParameterTuningDataset',index_col =None )
income
#

       39          State-gov    Bachelors  13  ...  0  40   United-States   <=50K
0      50   Self-emp-not-inc    Bachelors  13  ...  0  13   United-States   <=50K
1      38            Private      HS-grad   9  ...  0  40   United-States   <=50K
2      53            Private         11th   7  ...  0  40   United-States   <=50K
3      28            Private    Bachelors  13  ...  0  40            Cuba   <=50K
4      37            Private      Masters  14  ...  0  40   United-States   <=50K
...    ..                ...          ...  ..  ... ..  ..             ...     ...
32555  27            Private   Assoc-acdm  12  ...  0  38   United-States   <=50K
32556  40            Private      HS-grad   9  ...  0  40   United-States    >50K
32557  58            Private      HS-grad   9  ...  0  40   United-States   <=50K
32558  22            Private      HS-grad   9  ...  0  20   United-States   <=50K
32559  52       Self-emp-inc      HS-grad   9  ...  0  40   United-States    >50K

[32560 rows x 14 columns]

In [86]:
#leading the clean dataset
income=pd.read_csv('income_clean.csv',index_col=None)
income

       Unnamed: 0  id  employer  education  ...  age  country  gender  salary
0               0  50         6          9  ...   13       39       1       0
1               1  38         4         11  ...   40       39       1       0
2               2  53         4          1  ...   40       39       1       0
3               3  28         4          9  ...   40        5       0       0
4               4  37         4         12  ...   40       39       0       0
...           ...  ..       ...        ...  ...  ...      ...     ...     ...
32555       32555  27         4          7  ...   38       39       0       0
32556       32556  40         4         11  ...   40       39       1       1
32557       32557  58         4         11  ...   40       39       0       0
32558       32558  22         4         11  ...   20       39       1       0
32559       32559  52         5         11  ...   40       39       0       1

[32560 rows x 13 columns]

In [0]:
income=income.drop(['Unnamed: 0'],axis=1)

In [88]:
income.columns

Index(['id', 'employer', 'education', 'grade', 'marital_status', 'job',
       'family_role', 'race', 'age', 'country', 'gender', 'salary'],
      dtype='object')

In [89]:
#selecting the dependent and independent variables
#independent variables 
X=income.drop('salary',axis=1)
#dependent variables
y=income['salary']
print("The shape of X is:",{X.shape},"and the shape of y is:",{y.shape})

The shape of X is: {(32560, 11)} and the shape of y is: {(32560,)}

In [0]:
# Performing Data Preprocessing 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [0]:
# Scaling our Data
# 
from sklearn.preprocessing import StandardScaler
feature_scaler = StandardScaler()
X_train = feature_scaler.fit_transform(X_train)
X_test = feature_scaler.transform(X_test)

In [0]:
# Training and Cross Validation
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=300, random_state=0)

In [0]:
# Training and Cross Validation
from sklearn.model_selection import cross_val_score
all_accuracies = cross_val_score(estimator=classifier, X=X_train, y=y_train, cv=5)

In [94]:
# Printing the accuracies returned for five folds 
# by the cross_val_score method by calling print on all_accuracies
print(all_accuracies.mean())

0.8205569205569206

In [0]:
# Step 1: Hyperparameters: Getting Started with Grid Search
# ---
# Wcreate a dictionary of all the parameters and their corresponding 
# set of values that you want to test for best performance. 
# The name of the dictionary items corresponds to the parameter name 
# and the value corresponds to the list of values for the parameter.
# grid_param dictionary with three parameters n_estimators, criterion, and bootstrap. 
# find which value (out of 100, 300, 500, 800, and 1000) provides the highest accuracy. 
# find which value results in the highest performance for the criterion parameter: "gini" or "entropy"? 
# The Grid Search algorithm basically tries all possible combinations of parameter values and returns the combination with the highest accuracy. 
# in this case the algorithm will check 20 combinations (5 x 2 x 2 = 20).
# ---
# 
grid_param = {
    'n_estimators': [100, 300, 500, 800, 1000],
    'criterion': ['gini', 'entropy'],
    'bootstrap': [True, False]
}

In [0]:
# Step 2: Instantiating GridSearchCV object
# ---
# create an instance of the GridSearchCV class. 
# pass values for the estimator parameter, 
# which basically is the algorithm that you want to execute. 
# The param_grid parameter takes the parameter dictionary created as parameter, the scoring parameter 
# takes the performance metrics, the cv parameter corresponds to number of folds, which is 5 in this case, and finally 
# the n_jobs parameter refers to the number of CPU's that we want to use for execution. 
# A value of -1 for n_jobs parameter means that use all available computing power.
# --- 
from sklearn.model_selection import GridSearchCV
gd_sr = GridSearchCV(estimator=classifier,
                     param_grid=grid_param,
                     scoring='accuracy',
                     cv=5,
                     n_jobs=-1)

In [97]:
## Step 3: Calling the fit method 
gd_sr.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:691: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=300, n_jobs=None,
                                              oob_score=False, random_state=0,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'criterion': ['gini', 'entropy'],
                         'n_estimators': [100, 300, 500, 800, 1000]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=0)

In [0]:
# Step 4: Checking the parameters that return the highest accuracy
# --- 
#  print the sr.best_params_ attribute of the GridSearchCV object
# ---
# 
best_parameters = gd_sr.best_params_
print(best_parameters)

# The result shows that the highest accuracy is achieved 
# when the n_estimators are 300, bootstrap is True and criterion is "gini". 
# It would be a good idea to add more number of estimators 
# and see if performance further increases since the highest 
# allowed value of n_estimators was chosen.

In [0]:
# Step 5: Finding the obtained accuracy
# ---
# The last and final step of Grid Search algorithm is 
# to find the accuracy obtained using the best parameters. 
# Previously we had a mean accuracy of 82.0884520884521%.
# To find the best accuracy achieved, we execute the following code:
# ---
# 
best_result = gd_sr.best_score_
print(best_result)

# The accuracy achieved is: 0.6505 of 65.05% which is only slightly better than 64.22%. 
# To improve this further, it would be good to test values for other parameters 
# of Random Forest algorithm, such as max_features, max_depth, max_leaf_nodes, etc. 
# to see if the accuracy further improves or not.